<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Kensho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4CF954F197800F5007B6494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CF955F197800F5007B6494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CF957C19780A7B007B6494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EF50471AC060A600A28930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EF505F1AC060A600A28930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
